@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

* {
    margin: 0;
    font-family: 'lato';
}

header {
    background-color: rgb(94, 136, 94);
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 10px 0;
}

#formularioTarjeta{
    margin: 100px 20px;
    display: flex;
    justify-content: space-around;
}

#formulario{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#tipoPokemonDiv{
    display: flex;
    flex-wrap: wrap;
}

#tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 20px;
    text-align: center; 
    width: 500px;
    height: 200px;
    background: linear-gradient( rgb(227, 240, 207), rgb(140, 167, 140));
}


footer {
    background-color: rgb(168, 197, 148);
    color: white;
    text-align: center;
    padding: 57px;
}