@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
.loader{
    padding-left: 46%;
    padding-top: 25%;
    width: 120px;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    }

.loader span{
    font-size: 22px;
    text-transform: uppercase;
    margin: auto;
}

.ball{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(177,79,79);
    animation: bounce .5s alternate infinite;
}

.ball:nth-child(2){
    animation-delay: .16s;
}

.ball:nth-child(3){
    animation-delay: .32s;
}

@keyframes bounce {
    from{
        transform: scaleX(1.25);
    }
    to{
        transform:
        translateY(-50px) scaleX(1);
    }
}
span{
    color: rgb(177,79,79);
    font-family: lato;
    font-size: 1.8em;
}
@media (max-width: 400px){
    span{
      padding-left: 25%;  
    }
}
